{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if show_project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                        <tbody>
                            {% for project in show_project.tasks.all %}
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.assignee }}</td>
                                    <td>{{ project.start_date }}</td>
                                    <td>{{ project.due_date }}</td>
                                    <td>{{ project.is_completed|yesno }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% else %}
                        <p>This project has no tasks</p>
                    </thead>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
